eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/
           
management:
  endpoints:
    web:
      exposure:
        include: "*"
        
spring:  
  datasource:
    url: jdbc:postgresql://localhost:5432/webstore?currentSchema=${service.schemaName}
    username: user
    password: password
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
        

bootstrap:
  servers: localhost:9092  # Kafka broker address(es)

num:
  partitions: 12  # number of partitions for the topic

replication:
  factor: 3
  
topic:
  stock:
    status: stock-status-event